.inputFieldContainer {
  display: flex;
  flex-flow: column;
  margin-bottom: 24px;
}

.inputLabel {
  font-size: 14px;
  line-height: 16px;
  color: rgb(110, 106, 101);
  font-weight: 500;
  margin-bottom: 14px;
}

.inputField {
  font-family: inherit;
  display: block;
  font-size: 14px;
  line-height: 16px;
  padding: 10px 14px 10px;
  border: 1px solid rgb(224, 224, 224);
  color: var(--color-black);
  border-radius: 6px;
  outline: none;
}

.inputField:active, .inputField:focus {
  border-color: var(--color-primary);
  box-shadow: 0px 0px 0px 2px var(--color-primary-opacity-40);
}

.inputFieldErrorState,
.inputFieldErrorState:focus,
.inputFieldErrorState:active {
  border-color: var(--color-error);
  box-shadow: 0px 0px 0px 2px var(--color-error-opacity-40);
}

.inputFieldError {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.inputFieldErrorIcon {
  height: 16px;
  width: 16px;
  margin-right: 4px;
  margin-bottom: 2px;
}

.inputFieldErrorText {
  color: var(--color-error);
  font-size: 14px;
  line-height: 17px;
  margin: 0px;
}
