.sidebar {
	position: fixed;
	height: calc(100% - var(--header-height) - 2 * var(--sidebar-y-margin));
	width: var(--sidebar-width);
	margin: var(--sidebar-y-margin) var(--sidebar-x-margin);
	background-color: var(--color-window-bg);
	z-index: 10;
	border-radius: var(--Radius-5, 12px);
	background: #fff;
	box-shadow: var(--shadow-2);
}

.sidebar-list {
	padding: 20px 12px;
	list-style-type: none;
}

.sidebar-list > li {
	margin: 14px 0px;
}

.sidebar-list > li > a {
	display: flex;
	align-items: center;
	padding: 8px;
	font-weight: 500;
	font-size: 16px;
	border-radius: 8px;
	color: var(--color-neutral-alpha);
	line-height: 20px;
	text-decoration: none;
	display: flex;
	justify-content: flex-start;
	gap: 12px;

	&:hover {
		background: rgba(1, 68, 255, 0.06);
		color: var(--color-accent-alpha);
	}

	&.active {
		background: rgba(1, 68, 255, 0.06);
		color: var(--color-accent-alpha);
	}
}

@media (max-width: 1024px) {
	.sidebar {
		display: none;
	}
}
