.paper {
	border-radius: var(--radius-6);
	background: #fff;
	box-shadow: var(--shadow-2);
	padding: 20px;

	&--with-background {
		background: var(--color-sand-2);
	}

	&--with-border {
		border: 1px solid var(--color-neutral-7);
	}
}
