{
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"bracketSpacing": true,
	"singleQuote": false,
	"trailingComma": "es5",
	"arrowParens": "always",
	"jsxBracketSameLine": true,
	"bracketSameLine": true,
	"singleAttributePerLine": true,
	"printWidth": 120
}
