{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "bracketSpacing": true,
  "singleQuote": false,
  "trailingComma": "es5",
  "arrowParens": "always",
  "jsxBracketSameLine": true,
  "bracketSameLine": true,
  "singleAttributePerLine": false,
  "endOfLine": "lf",
  "printWidth": 120
}
