.page-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.api-key-form-container {
  display: flex;
  flex-flow: column;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.16);
  max-width: 476px;
  width: calc(100% - 32px);
  background-color: var(--color-white);
}

.api-key-form-title {
  margin-top: 16px;
}

.api-key-form {
  padding-top: 16px;
}
