button#sign-out-btn {
	position: absolute;
	top: 24px;
	right: 60px;
	background: var(--color-white);
	border: 1px solid var(--color-black);
	border-radius: 6px;
	padding: 6px 8px;
	font-size: 14px;
	font-family: inherit;
	line-height: 17px;
	font-weight: 500;
	cursor: pointer;
	z-index: 1;
}
