.dialog-overlay {
	background: rgba(0, 0, 0, 0.4);
	position: fixed;
	inset: 0;
	height: 100vh;

	z-index: 9999;
}

.dialog-container {
	max-width: 470px;
	width: 100%;

	height: fit-content;

	border-radius: 12px;
	background: #fff;
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);

	position: fixed;
	inset: 0;
	margin: auto;
	z-index: 9999;

	padding: 36px 40px;
}

.dialog-content {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.dialog-header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	color: #222;

	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px;

	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 16px;

	& > svg {
		background: rgba(232, 232, 232, 1);
		height: 22px;
		width: 22px;
		padding: 6px;
		border-radius: 50%;

		cursor: pointer;
	}
}

.dialog-footer {
	display: flex;
	gap: 24px;
	padding-top: 20px;

	&.border-top {
		border-top: 1px solid var(--color-border);
	}

	&.border-none {
		border: none;
	}

	&.row {
		flex-direction: row;
	}

	&.column {
		flex-direction: column;
	}

	&.flex-start {
		justify-content: flex-start;
	}

	&.flex-end {
		justify-content: flex-end;
	}

	&.center {
		justify-content: center;
	}

	&.space-between {
		justify-content: space-between;
	}

	&.space-around {
		justify-content: space-around;
	}

	&.space-evenly {
		justify-content: space-evenly;
	}
}
