.page-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.api-key-form-container {
  display: flex;
  flex-flow: column;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.16);
  width: 476px;
}

.api-key-form-title {
  margin: 0px 0px 16px;
  padding: 0px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.api-key-form {
  width: 100%;
  padding-top: 24px;
}
