.pageContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.apiKeyFormContainer {
  display: flex;
  flex-flow: column;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.16);
  width: 476px;
}

.apiKeyFormTitle {
  margin: 0px 0px 16px;
  padding: 0px;
  font-size: 24px;
  line-height: 28px;
}

.apiKeyForm {
  border-top: 1px solid rgb(229, 229, 229);
  width: 100%;
  padding-top: 24px;
}
