.tenant-id-column {
	width: 20% !important;
}

.tenant-list-table-pagination {
	justify-content: flex-end;
	padding: 24px;
}

.tenant-login-methods {
	display: flex;
	gap: 10px;
}

.tenant-no-login-methods-error {
	display: flex;
	gap: 4px;
	align-items: center;
	width: fit-content;
}
