@import '../../styles/mixin.scss';

$container-padding-v: 24px;

.users-list-table-container {
  padding: $container-padding-v 34px;
  display: inline-block;
  min-width: 100%;
}

.users-list-table {
  min-width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
}

.users-list-table thead {
  color: var(--color-light);
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
}

.users-list-table thead tr {
  border-bottom: 1px solid var(--color-border);
  th {
    padding: 0 1em 24px 0;
    font-weight: 500;
    text-align: left;
  }
}

.users-list-table tbody tr {
  border-bottom: 1px solid var(--color-border);
  td {
    width: 33%;
    max-width: 50%;
    padding: 24px 1em 24px 0;
  }
  &.empty-row {
    td { padding: 12px 0; }
  }
}

.user-row {
  .user-info {
    display: flex;
    flex-direction: column;
    @include gap-horizontal(0.5em);
    color: var(--color-light);
    padding-right: 1em;
    .main {
      color: var(--color-black);
      font-weight: 500;
      max-width: 15em;
      overflow: hidden;
      text-overflow: ellipsis;
      @media only screen and (min-width: 800px) {
        max-width: 100%;
      }
    }
  }
  .pill {
    display: flex;
    height: 17pt;
    line-height: 24pt;
    border-radius: 8pt;
    padding: 8pt;
    align-items: center;
    width: fit-content;
    white-space: nowrap;
    @include gap-horizontal(4px);

    &.passwordless {
      color: var(--color-danger);
      background-color: var(--color-danger-bg);
    }
    &.emailpassword {
      color: var(--color-success-1);
      background-color: var(--color-success-1-bg);
    }
    &.thirdparty {
      color: var(--color-success-0);
      background-color: var(--color-success-0-bg);
      &.google,
      &.apple {
        color: var(--color-danger-1);
        background-color: var(--color-danger-1-bg);
        span {
          text-transform: capitalize;
        }
      }
      &.github,
      &.facebook {
        color: var(--color-success-0);
        background-color: var(--color-success-0-bg);
        span {
          text-transform: capitalize;
        }
      }
    }
  }

  .user-date {
    min-width: 110px;
  }

  &.placeholder td {
    div {
      width: 100%;
      background-color: var(--color-light-opacity-20);
      height: 1em;
      opacity: 0.4;
      animation: blinker 2s linear infinite;
      @keyframes blinker {
        50% {
          opacity: 0.1;
        }
      }
    }
  }
}

.user-list-footer {
  display: flex;
  justify-content: flex-end;
  padding-top: $container-padding-v;
}

.users-list-pagination {
  display: flex;
  @include gap-horizontal(1em);

  .users-list-pagination-count {
    font-weight: 500;
  }
  .users-list-pagination-navigation {
    display: flex;
    @include gap-horizontal(0.5em);
  }
  .users-list-pagination-button {
    border: none;
    background: none;
  }
}
