.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 100vw;
  min-height: 70px;
  display: flex;
  padding: 32px;

  &.alignment-right {justify-content: flex-end;}
  &.alignment-center { justify-content: center;}

  &.vertical-center { align-items: center; }
  &.vertical-bottom { align-self: flex-end; }

  &.color-dark {
    background-color: var(--color-black);
  }
}