.main-layout-container {
	display: block;
	margin-top: var(--header-height);

	.main-content {
		margin-left: calc(var(--sidebar-width) + 2 * var(--sidebar-x-margin));
		padding: var(--main-content-y-padding) var(--main-content-x-padding) 0 var(--main-content-x-padding);
		min-height: calc(100vh - var(--header-height));
	}
}

@media (max-width: 1024px) {
	.main-layout-container {
		.main-content {
			margin-left: 0;
			padding: 0;
		}
	}
}
