.users-list {
  margin: 0 16px;
  padding: 30px 0;
}

.users-list-title {
  font-size: 28px;
  line-height: 34px;
  color: var(--color-black);
  margin-bottom: 16px;
  font-weight: 500;
}

.users-list-subtitle {
  color: var(--color-secondary-text);
  margin-bottom: 48px;
}

.users-list-paper {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  background-color: var(--color-white);
  display: inline-block;
  min-width: 100%;
}

@media only screen and (min-width: 900px) {
  .users-list { 
    width: 90%; 
    margin: 0 auto;
  }
}
