.st-select {
	outline: none;

	width: 210px;
	height: 36px;
	padding: 9px 13px;

	border-radius: 6px;
	border: 1px solid #e5e5e5;
	background: #fff;

	color: #222;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
