.select-container {
	position: relative;
	cursor: pointer;

	.select-action {
		display: flex;
		width: 210px;
		height: 36px;
		padding: 9px 13px;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
		flex-shrink: 0;

		border-radius: 6px;
		border: 1px solid #e5e5e5;
		background: #fff;

		color: #222;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
	.select-dropdown-wrapper {
		padding-top: 5px;
		top: 36px;
		z-index: 5;
		position: absolute;
		width: 100%;
		max-height: 150px;
		overflow: auto;
		box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.16);

		.select-dropdown {
			background: #fff;
			border-radius: 6px;
			background: #fff;

			.select-item {
				cursor: pointer;
				padding: 12px;
				color: #222;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;

				&:hover {
					background: #f0f0f0;
					width: 100%;
				}
			}
		}
	}
}
