.method {
	border-radius: 6px;
	border: 1px solid #ddd;
	margin-bottom: 16px;

	.method-header {
		border-radius: 5px 5px 0px 0px;
		border-bottom: 1px solid #ddd;
		padding: 16px 25px;
		display: flex;
		align-items: baseline;
		justify-content: space-between;

		.left {
			display: flex;
			align-items: baseline;
			justify-content: flex-start;

			.user-id-span {
				margin-left: 15px;
				color: #6e6a65;

				.copy-text-wrapper {
					border-radius: 3px;
					border: 1px solid #d9d9d9;
					color: #d65078;
					font-family: Menlo;
					font-size: 13px;
					padding: 5px;
					margin-left: 10px;
				}
			}
		}
	}

	.method-body {
		padding: 18px 27px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px;

		color: #6e6a65;

		align-items: center;

		& > div {
			display: flex;
			align-items: center;
			height: 50px;
		}

		b {
			color: #222;
			font-family: Rubik;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
		}
	}
}

.not-verified {
	border-radius: 22px;
	border: 1px solid #d2d2d2;
	background: #ececec;
	font-size: 12px;
	padding: 5px;
	color: #252728;
}

.verified {
	border-radius: 16px;
	border: 1px solid #c2ebd0;
	background: #c8f9d8;
	color: rgba(18, 85, 37, 1);
	font-size: 12px;
	padding: 5px;
}

.password-link {
	color: rgba(0, 122, 255, 1);
	cursor: pointer;
}

.save-button {
	box-shadow: 0px 3px 6px 0px rgba(0, 122, 255, 0.16);
	border-radius: 6px;
	border: 1px solid #007aff;
	background: #007aff;
	padding: 8px;
	color: white;
	font-weight: 500;
}

.provider-pill {
	border-radius: 4px;
	background: #f0f4f7;
	padding: 10px;
	font-family: monospace;
	display: inline-flex;

	max-width: 250px;

	img {
		height: 15px;
		width: 15px;
	}
}
