.badge {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 6px;

	width: fit-content;

	text-align: center;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;

	.content {
		max-width: 110px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	&.xs {
		font-size: 10px;
		padding: 0px 4px;
	}
	&.sm {
		font-size: 12px;
		padding: 0px 4px;
	}

	&.md {
		padding: 3px 8px;
	}

	&.lg {
		padding: 4px 10px;
	}

	&.secondary {
		color: var(--light-tags-tag-blue-text, #1d4ed8);
		border: 1px solid var(--light-tags-tag-blue-border, #bfdbfe);
		background: var(--light-tags-tag-blue-bg, #dbeafe);
	}

	&.success {
		color: var(--light-tags-tag-green-text, #047857);
		border: 1px solid var(--light-tags-tag-green-border, #a7f3d0);
		background: var(--light-tags-tag-green-bg, #d1fae5);

		& > svg {
			stroke: rgba(5, 150, 105, 1);
			cursor: pointer;
		}

		&:hover {
			background: var(--light-tags-tag-green-bg-hover, #a7f3d0);
		}
	}
}
