.paper-container {
	display: block;
	overflow-x: auto;

	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
	border-radius: 6px;
	background-color: var(--color-white);
	display: block;
	width: 100%;
	max-width: 100%;
	padding: 56px 0px;

	.icon {
		height: 54px;
		width: 54px;
		color: var(--color-primary);
	}

	& > div {
		display: flex;
		flex-direction: column;
		align-items: center;

		h1 {
			color: var(--color-black);
			text-align: center;
			font-size: 18px;
			font-style: normal;
			font-weight: 500;
			line-height: 40px;
		}

		p {
			color: var(--color-secondary-text);
			text-align: center;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 26px;
		}
	}
}
