.checkbox-text-container {
	display: flex;
	align-items: center;
	gap: 24px;
}

.delete-btn-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.roles-column {
	width: 20% !important;
}
